<!DOCTYPE html>
<html>
  <head>
    <title><%= current_account.name %></title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render 'nwdl/shared/main_navigation' %>
    <%= yield %>
    <%= render 'nwdl/shared/footer_navigation' %>
  </body>
</html>
