<!DOCTYPE html>
<html>
  <head>
    <title><%= current_account.name %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'nwdl/shared/main_navigation' %>
    <%= yield %>
    <%= render 'nwdl/shared/footer_navigation' %>
  </body>
</html>
