<div id="footer" class="min-h-[20vh] nwdl-bg-black text-white mt-auto">
  <%# BLACK INFO BAR %>
  <div class="container max-w-screen-xl mx-auto px-4 py-4 flex flex-wrap content-between">
    <div class="w-full md:w-4/12 py-3">
      <%= current_account.content.html :main_address %>
    </div>

    <div class="w-full md:w-4/12 py-3">
      <%= current_account.content.html :main_contact %>
    </div>

    <div class="w-full md:w-4/12 py-3">
      <%= current_account.content.image_tag(:logo, {}, {class: "mx-auto md:mr-0 h-8 sm:h-10"}) %>
    </div>
  </div>

  <%# WHITE NAVIGATION BAR %>
  <nav class="bg-neutral-700">
    <div class="container max-w-screen-xl px-4 py-2.5 mx-auto">
      <ul class="flex content-start items-start md:items-center flex-col md:flex-row gap-5">
        <% nav = Spina::Navigation.find_by(name: 'footer') %>
        <% items = nav.navigation_items.regular_pages.sorted.live.in_menu.active %>

        <%# SOCIAL BUTTONS %>
        <li class="flex gap-2">
          <% ["facebook", "instagram", "linkedin", "twitch"].each do |social| %>
            <%= link_to current_account.content("#{social}_link".to_sym), target: "_blank" do %>
              <%= render "shared/icons/#{social}", classes: "h-8" %>
            <% end %>
          <% end %>
        </li>

        <%# MAIN FOOTER ITEMS %>
        <% items.each_with_index do |item, index| %>
          <% if item.page.materialized_path %>
            <li class="nav-item">
              <%= link_to item.page.menu_title, item.page.materialized_path, class: "nav-link active" %>
            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </nav>
</div>
