<div class="container-xl">
  <%# IMAGES %>
  <div class="image-anchor mt-8">
        <div class="newsletter-kreise"><%= render 'nwdl/shared/images/newsletter_kreise' %></div>
        <div class="newsletter-wolke"><%= render 'nwdl/shared/images/newsletter_wolke' %></div>
  </div>

  <%# NEWSLETTER %>
  <div class="row pt-5 justify-content-around nwdl-bg-blue-dark">
    <div class="col-12 col-md-6 pb-6 nwdl-content nwdl-uppercase-header ms-auto">
      <%= current_account.content.html :newsletter_text %>

      <form class="mt-3">
        <div class="mb-2">
          <label for="newsletterNameInput" class="form-label">Name</label>
          <input type="text" class="form-control" id="newsletterNameInput">
        </div>

        <div class="mb-5">
          <label for="newsletterEmailInput" class="form-label">E-Mail</label>
          <input type="email" class="form-control" id="newsletterEmailInput">
        </div>

        <button type="submit" class="btn btn-primary">Anmelden</button>
      </form>
    </div>
    <div class="col-12 col-md-4 mt-3 pt-6 pb-6 nwdl-bg-orange-dark ms-auto angled-bg">
      <div class="mb-4"><%= current_account.content.html :main_address %></div>
      <div><%= current_account.content.html :main_contact %></div>
    </div>
  </div>

  <%# IMAGES %>
  <div class="image-anchor">
        <div class="farbfleck-pink"><%= render 'nwdl/shared/images/farbfleck_pink' %></div>
  </div>
</div>
