<%= render 'nwdl/shared/general/page_wrapper' do %>
  <%# PAGE WRAPPER HANDLES TITLE %>
  <%= yield %>

  <%# IMAGES %>
  <% if yield(:image_title).present? %>
    <div class="relative flex flex-wrap justify-center">
      <%= yield(:image_title) %>
    </div>
  <% end %>

  <%# RICH CONTENT BEFORE PRESENTER %>
  <% if current_page.find_part(:rich_content_before)&.content.present? %>
    <div class="nwdl-rich-content-wrapper nwdl-high-contrast">
      <%= content.html :rich_content_before %>
    </div>
  <% end %>
<% end %>

<%= yield :before_presenter %>

<%# ARTICLES PRESENTER %>
<% if yield(:presenter_content).present? %>
  <div class="container max-w-screen-xl mx-auto px-4 mt-20">
    <%= yield :presenter_content %>
  </div>
<% end %>

<%= yield :after_presenter %>

<%# RICH CONTENT AFTER PRESENTER %>
<% if current_page.find_part(:rich_content_after)&.content.present? %>
  <div class="container max-w-screen-xl mx-auto px-4 mt-20">
    <div class="nwdl-rich-content-wrapper nwdl-high-contrast">
      <%= content.html :rich_content_after %>
    </div>
  </div>
<% end %>

<%= yield :before_newsletter %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/general/newsletter' %>

<%= yield :after_newsletter %>
