<%= render 'nwdl/shared/general/page_wrapper' do %>
  <div class="mt-3 text-xl nwdl-rich-content-wrapper !max-w-prose">
    <% if content(:event_time).present? %>
      <p class="mb-0 nwdl-high-contrast"><strong><%= I18n.l(content(:event_time), format: :event) %></strong></p>
    <% end %>
    <div class="nwdl-high-contrast"><%= content.html :summary %></div>
  </div>
<% end %>

<%# METADATA WRAPPER %>
<% if content(:author).present? || content(:meta_info).present? || current_page.find_part(:lables_repeater)&.content.present? %>
  <div class="nwdl-bg-blue-middle p-0 mt-4">
    <div class="container max-w-screen-xl mx-auto px-4 py-2">
      <div class="flex justify-content-start flex-wrap gap-3">

        <%# AUTHOR %>
        <% if content(:author).present? %>
          <%= link_to content(:author).materialized_path, class: "text-md px-2.5 py-1 rounded bg-neutral-100 inline-flex items-center gap-1" do %>
            <span><%= render 'shared/icons/user', classes:"h-5 mb-1" %></span>
            <strong><%= content(:author).title %></strong>
          <% end %>
        <% end %>

        <%# ADDITIONAL META INFO %>
        <% if content(:meta_info).present? %>
          <p class="text-md px-2.5 py-1 rounded bg-neutral-100 inline-flex items-center gap-1">
            <span><%= render 'shared/icons/clock', classes:"h-5 mb-1" %></span>
            <strong><%= content(:meta_info) %></strong>
          </p>
        <% end %>

        <%# LABLES %>
        <% if current_page.find_part(:lables_repeater)&.content.present? %>
          <% repeater(:lables_repeater) do |repeater_content| %>
            <% lable_page = repeater_content&.content(:lable_selector) %>
            <%= link_to lable_page.materialized_path, class: "text-md px-2.5 py-1 rounded bg-neutral-100 inline-flex items-center gap-1" do %>
              <span><%= render 'shared/icons/tag', classes:"h-5 mb-1" %></span>
              <strong><%= lable_page.title %></strong>
            <% end %>
          <% end %>
        <% end %>

      </div>
    </div>
  </div>
<% end %>

<%# MAIN CONTENT %>
<div class="container max-w-screen-xl mx-auto px-4 mt-2">
  <%= content.image_tag :thumbnail, {}, { class: "w-100 h-[40vh] object-cover rounded" } %>

  <div class="nwdl-rich-content-wrapper !max-w-prose mt-6 nwdl-high-contrast">
    <%= content.html :rich_content %>
  </div>
</div>

<%# BOTTOM METADATA %>
<div class="container max-w-screen-xl mx-auto px-4 mt-10">
  <div class="flex justify-start flex-wrap">

    <%# CONTACT PERSON INFO %>
    <% if content(:contact_person).present? %>
      <div class="w-full md:w-6/12 flex flex-col items-stretch md:items-start">
        <h2 class="text-xl mb-3"><%= I18n.t('static.contact_person_heading') %></h2>
        <%= link_to content(:contact_person).materialized_path, class: "inline-flex gap-3 p-2 pr-6 rounded nwdl-bg-grey-light" do %>
          <%= content(:contact_person).content.image_tag(:thumbnail, {}, {class: "w-[100px] h-[100px] rounded object-cover"}) %>
          <p>
            <strong><%= content(:contact_person).title %></strong><br>
            <%= content(:contact_person).content(:email) %>
          </p>
        <% end %>
      </div>
    <% end %>

    <%# DIRECT TIME AND AUTHOR META INFO (espacially for citing) %>
    <div class="w-full md:w-6/12 mt-4 flex flex-col justify-end ml-auto">
      <%# ALWAYS display Author - if no Author given, fallback to generic Author %>
      <% if content(:author).present? %>
        <p class="mb-0 md:text-right text-neutral-500"><%= I18n.t('static.author') %>: <%= content(:author).title %></p>
      <% else %>
        <p class="mb-0 md:text-right text-neutral-500"><%= I18n.t('static.author') %>: <%= I18n.t('static.default_author') %><br></p>
      <% end %>

      <%# will display time of page creation aswell as time of last edited if lasted editet is not
          nearly the same as created_at (edits in the first 10 Minutes (600 Seconds) will not be
          displayed, due to page initial creation time) %>
      <% if (current_page.updated_at - current_page.created_at).abs > 600 %>
        <p class="mb-0 md:text-right text-neutral-500"><%= I18n.t('static.last_updated') %>: <%= I18n.l(current_page.updated_at, format: :short) %></p>
      <% end %>

      <p class="mb-0 md:text-right text-neutral-500"><%= I18n.t('static.created_at') %>: <%= I18n.l(current_page.created_at, format: :short) %></p>
    </div>

  </div>
</div>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/general/newsletter' %>
