<%= render 'nwdl/shared/general/page_wrapper' do %>
  <div class="nwdl-rich-content-wrapper">
    <%= content.html :summary %>
    <%= content.image_tag :thumbnail %>
    <%= content.html :rich_content %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/general/newsletter' %>
