<div class="d-block overflow-auto no-scrollbar nwdl-slider-wrapper">
  <% resources ||= nil %>
  <% resource_name ||= nil %>
  <%= render 'nwdl/shared/resource/iterator', resources: resources, resource_name: resource_name, classes: "d-inline-flex nwdl-slider-inner" do |resource| %>

    <%= link_to resource.materialized_path, class: "text-reset text-decoration-none nwdl-slider-cachel" do %>
      <div class="bg-white p-3 rounded h-100">
        <%= resource.content.image_tag(:thumbnail, {}, {class: "nwdl-cachel-img rounded object-fit-cover"}) %>

        <% display_lables = resource.content(:lable) %>
        <%= render "nwdl/shared/lable_badges", display_lables: display_lables %>

        <p class="mt-2 mb-0"><strong><%= resource.title %></strong></p>
        <%= resource.content.html(:summary) %>
      </div>
    <% end %>

  <% end %>
</div>
