<div class="block overflow-auto no-scrollbar nwdl-slider-wrapper">
  <% resources ||= nil %>
  <% resource_name ||= nil %>
  <%= render 'nwdl/shared/resource/iterator', resources: resources, resource_name: resource_name, classes: "inline-flex nwdl-slider-inner gap-4 my-4" do |resource| %>

    <%= link_to resource.materialized_path, class: "nwdl-slider-cachel" do %>
      <div class="bg-white p-3 rounded h-full">
        <%= resource.content.image_tag(:thumbnail, {}, {class: "nwdl-cachel-img rounded object-cover"}) %>

        <% display_lables = resource.content(:lables_repeater)&.map { |repeater_content| repeater_content&.content(:lable_selector) } %>
        <%= render "nwdl/shared/lable_badges", display_lables: display_lables %>

        <p class="mt-2 mb-0 nwdl-high-contrast"><strong><%= resource.title %></strong></p>
        <div class="nwdl-high-contrast"><%= resource.content.html(:summary) %></div>
      </div>
    <% end %>

  <% end %>
</div>
