<%= render 'nwdl/shared/default_page' do %>
  <%= content.html :subheading %>
  <%= content.image_tag :thumbnail %>
  <%= content(:metadata)[:author] %>
  <%= content(:metadata)[:datetime] %>
  <%= content(:metadata)[:read_time] %>

  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>
