<%= render 'nwdl/shared/default_page' do %>
  <%# IMAGES %>
  <div class="image-anchor">
    <div class="project-gear"><%= render 'nwdl/shared/images/zahnrad' %></div>
  </div>

  <%# RICH CONTENT ABOVE EVENTS %>
  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>

  <%# PROJECT PRESENTER %>
  <div class="row g-3 mt-3 mb-5 justify-content-center justify-content-md-start">
    <% events = Spina::Resource.find_by(name: "events")&.pages.live %>
    <% if events.present? %>
      <% events.each do |event| %>
        <% if event.present? && event.find_part(:thumbnail)&.content.present? %>
          <div class="col-12 col-sm-7 col-md-4">
            <%= link_to event.materialized_path do %>
              <%= event.content.image_tag(:thumbnail, {}, {class: "nwdl-cachel-img object-fit-cover"}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Leider sind noch keine Events vorhanden.</p>
    <% end %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>
