<h1><%= current_page.title %></h1>

<%= content.html :focus_text %>
<%= content.html :focus_research_text %>
<%= content.html :focus_transver_text %>
<%= content.html :focus_consulting_text %>
<%= content.html :projects_text %>
<%= content.html :newsletter_text %>
<%= content.html :events_text %>
