<div class="container-fluid p-0">
  <%= content.image_tag(:header_image, {}, {class: "nwdl-header-image"}) %>
</div>

<%# FOCUS %>
<div class="container-xl">
  <%# MAIN FOCUS %>
  <div class="row justify-content-end mt-8">
    <div class="col-12 col-sm-8 col-md-7 nwdl-content nwdl-uppercase-header">
      <%= content.html :focus_text %>
    </div>
  </div>

  <%# IMAGES %>
  <div class="image-anchor mt-7">
    <div class="astronaut"><%= render 'nwdl/shared/images/astronaut' %></div>
    <div class="farbklecks"><%= render 'nwdl/shared/images/farbfleck' %></div>
  </div>

  <%# FOCUS BOXES %>
  <div class="row justify-content-center g-3">
    <div class="col-12 col-sm-9 col-md-4">
      <div class="p-4 h-100 text-center nwdl-content nwdl-bg-blue-middle rounded">
        <%= content.html :focus_research_text %>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-md-4">
      <div class="p-4 h-100 text-center nwdl-content nwdl-bg-blue-light rounded">
        <%= content.html :focus_transver_text %>
      </div>
    </div>
    <div class="col-12 col-sm-9 col-md-4">
      <div class="p-4 h-100 text-center nwdl-content nwdl-bg-blue-dark rounded">
        <%= content.html :focus_consulting_text %>
      </div>
    </div>
  </div>

  <%# IMAGES %>
  <div class="image-anchor">
    <div class="planet"><%= render 'nwdl/shared/images/planet' %></div>
  </div>
</div>


<%# PROJECTS %>
<div class="container-xl">
  <div class="row mt-8">
    <div class="col-12 col-sm-9 col-md-7 nwdl-content nwdl-uppercase-header">
      <%= content.html :projects_text %>
    </div>
    <div class="col-0 col-md-4"></div>
  </div>

  <%# PROJECT PRESENTER %>
  <div class="row g-4 mt-4 justify-content-start flex-wrap flex-sm-nowrap flex-md-wrap">
    <% collection = Spina::Resource.find_by(name: "projects")&.pages.live.limit(3) %>

    <%= render 'nwdl/shared/resource_iterator', resources: collection do |resource| %>
      <%= render 'nwdl/shared/default_resource', resource: resource %>
    <% end %>
  </div>

  <%# AFTER PROJECT PRESENTER %>
  <div class="row mt-3">
    <div class="col-12 nwdl-content text-center">
      <p>Sie möchten mehr über unsere Projekte erfahren?</p>
      <%= link_to "Zeige mehr!", Spina::Page.find_by(name: "projects").materialized_path, class: "btn btn-nwdl" %>
    </div>
  </div>
</div>


<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>


<%# EVENTS %>
<div class="container-xl">
  <div class="row justify-content-end mt-8">
    <div class="col-12 col-sm-8 col-md-7 nwdl-content nwdl-uppercase-header">
      <%= content.html :events_text %>
    </div>
  </div>

  <%# EVENT PRESENTER %>
  <div class="row justify-content-center">
    <div class="col-12 row mt-5 overflow-hidden">

      <%#
        Extream Heady Database Request, but could not figure out how to use
        .order in combination with json_attr. Best try so far:

        "... ORDER BY \"spina_pages\".\"json_attributes\"::json#>>'{de_content,2,datetime}' ASC"
        https://www.postgresql.org/docs/9.5/functions-json.html
      %>
      <% all_events = Spina::Resource.find_by(name: "events")&.pages.live %>
      <% sorted_events = all_events.sort_by { |e| e.content(:metadata)&.dig(:datetime) } %>
      <% recent_events = sorted_events.reverse.take(4) %>
      <% any_event_displayed = false %>

      <%= render 'nwdl/shared/resource_iterator', resources: recent_events do |event| %>
        <% any_event_displayed = true %>
        <%= link_to event.materialized_path, class: "col-12 row mb-5 nwdl-event gx-0 justify-content-center text-reset text-decoration-none" do %>
          <%# Date %>
          <div class="col-12 col-md-5 nwdl-event-date d-flex align-items-center mb-2 gx-0">
            <p class="m-0"><strong><%= I18n.l( event.content(:metadata)&.dig(:datetime) ) %></strong></p>
          </div>

          <%# "Connector" / Timeline %>
          <div class="d-none d-md-block col-12 col-md-2 nwdl-event-connector gx-0">
            <div class="vertical-line"></div>
            <div class="dot"></div>
          </div>

          <%# Content %>
          <div class="col-12 col-md-5 nwdl-bg-blue-light row gx-0 rounded">
            <%= event.content.image_tag(:thumbnail, {}, {class: "col-12 col-sm-5 rounded object-fit-cover"}) %>
            <div class="col-12 col-sm-7 p-3">
              <p class="mb-1"><strong><%= event.title %></strong></p>
              <%= event.content.html(:subheading) %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>

  <%# AFTER PROJECT PRESENTER %>
  <% if any_event_displayed %>
    <div class="row mt-3">
      <div class="col-12 nwdl-content text-center">
        <p>Sie möchten mehr über aktuelle Events erfahren?</p>
        <%= link_to "Zeige mehr!", Spina::Page.find_by(name: "events").materialized_path, class: "btn btn-nwdl" %>
      </div>
    </div>
  <% end %>
</div>
