<%= render 'nwdl/shared/page_wrapper' do %>
  <%# IMAGES %>
  <div class="image-anchor">
    <div class="project-gear index-background"><%= render 'nwdl/shared/images/zahnrad' %></div>
  </div>

  <%# RICH CONTENT ABOVE PROJECTS %>
  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>

  <%# PROJECT PRESENTER %>
  <div class="row g-5 mt-2 mb-5 justify-content-start">
    <%= render 'nwdl/shared/resource_iterator', resource_name: $spina_projects, nil_message: "Leider ist hier noch nichts zu sehen." do |resource| %>
      <%= render 'nwdl/shared/resource_preview', resource: resource %>
    <% end %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>


<%# TESTES JSONB QUERIES %>
<% result = Spina::Resource.find_by(name: "projects")&.pages.where("json_attributes#>'{de_content,4}' @> ?", {user_id: 17}.to_json) %>
<% result = Spina::Resource.find_by(name: "projects")&.pages.where("json_attributes @> (?)::jsonb", {"de_content":[{"user_id":9}]}.to_json) %>
