<%= render 'nwdl/shared/resource/index' do %>

  <%# IMAGES %>
  <% content_for :image_title do %>
    <div class="articles-lamp index-background"><%= render 'nwdl/shared/images/lampe' %></div>
  <% end %>

  <%# HIGHLIGHTS %>
  <% content_for :before_presenter do %>
    <% highlights = content(:highlights)&.order(created_at: :desc) %>
    <% if highlights.present? %>
      <div class="container-fluid nwdl-bg-blue-dark mt-5 mb-7 p-0">
        <div class="container-xl py-4">

          <%# RICH CONTENT HIGHLIGHTS %>
          <% if current_page.find_part(:rich_content_highlights)&.content.present? %>
            <div class="nwdl-rich-content-wrapper mb-3 nwdl-high-contrast">
              <%= content.html :rich_content_highlights %>
            </div>
          <% end %>

          <%# HIGHLIGHT PRESENTER %>
          <%= render 'nwdl/shared/resource/slider', resources: highlights %>

        </div>
      </div>
    <% end %>
  <% end %>

  <%# PRESENTER SELF %>
  <% content_for :presenter_content do %>
    <%= render 'nwdl/shared/resource/iterator', resource_name: $spina_articles, nil_message: "Leider ist hier noch nichts zu sehen." do |resource| %>
      <%= render 'nwdl/shared/resource/resource_default', resource: resource %>
    <% end %>
  <% end %>

<% end %>
