<%= render 'nwdl/shared/default_page' do %>
  <%# IMAGES %>
  <div class="image-anchor">
    <div class="project-gear"><%= render 'nwdl/shared/images/zahnrad' %></div>
  </div>

  <%# RICH CONTENT ABOVE PROJECTS %>
  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>

  <%# PROJECT PRESENTER %>
  <div class="row g-3 mt-3 mb-5 justify-content-center justify-content-md-start">
    <% projects = Spina::Resource.find_by(name: "projects")&.pages %>
    <% if projects.present? %>
      <% projects.each do |project| %>
        <% if project.present? && project.find_part(:thumbnail)&.content.present? %>
          <div class="col-12 col-sm-7 col-md-4">
            <%= link_to project.materialized_path do %>
              <%= project.content.image_tag(:thumbnail, {}, {class: "nwdl-cachel-img"}) %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    <% else %>
      <p>Leider sind noch keine Projekte vorhanden.</p>
    <% end %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>
