<div class="container-xl mt-8">
  <div class="row mt-5">
    <div class="col-12 col-sm-4 col-md-4 mb-4">
      <div class="nwdl-quatric-wrapper">
        <%= content.image_tag :thumbnail, {}, { class: "rounded object-fit-cover" } %>
      </div>
    </div>
    <div class="col-12 col-sm-8 col-md-8">
      <h1><%= current_page.title %></h1>
      <%= content.html :summary %>
      <div class="nwdl-rich-content-wrapper mt-4">
        <%= content.html :rich_content %>
      </div>
    </div>
  </div>
</div>

<%# PAGE PRESENTER %>
<% related_pages = Spina::Page.live.joins(:translations).where(translations: {locale: locale.to_sym}).where("json_attributes @> (?)::jsonb", {"#{locale.to_s}_content":[ {"user_id": current_page.id} ]}.to_json ) %>
<% if related_pages.present? %>
  <div class="container-xl mt-6">
    <h2 class="mb-4">Beiträge von und mit <%= current_page.title %></h2>
    <%= render 'nwdl/shared/resource/iterator', resources: related_pages do |resource| %>
      <%= render 'nwdl/shared/resource/resource_default', resource: resource %>
    <% end %>
  </div>
<% end %>
