<% if content(:header_iframe).present? %>
  <iframe class="w-full h-[70vh] overflow-hidden" src="<%= content(:header_iframe) %>" scrolling="no"></iframe>
<% else %>
  <%= content.image_tag(:header_image, {}, {class: "object-cover w-full h-[70vh]"}) %>
<% end %>

<%# FOCUS %>
<div class="container max-w-screen-xl mx-auto px-4 mt-10 md:mt-24">
  <%# MAIN FOCUS %>
  <div class="flex justify-end">
    <div class="w-full sm:w-9/12 md:w-7/12 py-4 nwdl-uppercase-header nwdl-high-contrast">
      <div class="nwdl-rich-content-wrapper !max-w-prose">
        <%= content.html :focus_text %>
      </div>
    </div>
  </div>

  <%# IMAGES %>
  <div class="relative flex flex-wrap justify-center mt-32">
    <div class="absolute astronaut z-10"><%= render 'nwdl/shared/images/astronaut' %></div>
    <div class="absolute farbklecks -z-10"><%= render 'nwdl/shared/images/farbfleck' %></div>
  </div>

  <%# FOCUS BOXES %>
  <div class="grid grid-cols-1 md:grid-cols-3 gap-3">
    <div class="w-full p-6 h-full text-center rounded nwdl-bg-blue-middle">
      <div class="nwdl-rich-content-wrapper !max-w-prose">
        <%= content.html :focus_research_text %>
      </div>
    </div>
    <div class="w-full p-6 h-full text-center rounded nwdl-bg-blue-light">
      <div class="nwdl-rich-content-wrapper !max-w-prose">
        <%= content.html :focus_transver_text %>
      </div>
    </div>
    <div class="w-full p-6 h-full text-center rounded nwdl-bg-blue-dark">
      <div class="nwdl-rich-content-wrapper !max-w-prose">
        <%= content.html :focus_consulting_text %>
      </div>
    </div>
  </div>

  <%# IMAGES %>
  <div class="relative flex flex-wrap justify-center">
    <div class="absolute planet -z-10"><%= render 'nwdl/shared/images/planet' %></div>
  </div>
</div>


<%# PROJECTS %>
<div class="container max-w-screen-xl mx-auto px-4 mt-40">
  <div class="flex justify-start mb-2">
    <div class="w-full sm:w-9/12 md:w-7/12 py-4 nwdl-uppercase-header nwdl-high-contrast">
      <div class="nwdl-rich-content-wrapper !max-w-prose">
        <%= content.html :projects_text %>
      </div>
    </div>
  </div>

  <%# PROJECT PRESENTER %>
  <% project_collection = Spina::Resource.find_by(name: $spina_projects)&.pages&.live&.joins(:translations)&.where(translations: {locale: locale})&.limit(3) %>
  <% any_project_displayed = false %>

  <%= render 'nwdl/shared/resource/iterator', resources: project_collection do |project| %>
    <% any_project_displayed = true %>
    <%= render 'nwdl/shared/resource/resource_default', resource: project %>
  <% end %>

  <%# AFTER PROJECT PRESENTER %>
  <% project_link_target = Spina::Page.find_by(name: $spina_projects) %>
  <% if any_project_displayed && project_link_target&.materialized_path.present? %>
    <div class="flex justify-center flex-wrap mt-8">
      <p class="w-full py-4 text-center nwdl-high-contrast"><%= I18n.t('static.more_projects') %></p>
      <%= link_to I18n.t('static.show_more'), project_link_target.materialized_path, class: "btn-nwdl" %>
    </div>
  <% end %>
</div>


<%# NEWSLETTER %>
<%= render 'nwdl/shared/general/newsletter' %>


<%# EVENTS %>
<div class="container max-w-screen-xl mx-auto px-4 mt-40 mb-36">
  <%# EVENT MAIN %>
  <div class="flex justify-end pb-6 pt-2 overflow-hidden -mx-4">
    <div class="w-full sm:w-9/12 md:w-7/12 py-4 nwdl-uppercase-header">

      <%# IMAGE PERSON STEHEND %>
      <div class="relative flex flex-wrap justify-center hidden sm:block">
        <div class="absolute person-stehend -z-10"><%= render 'nwdl/shared/images/person_stehend' %></div>
      </div>

      <div class="nwdl-high-contrast nwdl-rich-content-wrapper !max-w-prose mx-4">
        <%= content.html :events_text %>
      </div>
    </div>
  </div>

  <%# EVENT PRESENTER %>
  <%#
    Extream Heady Database Request, but could not figure out how to use
    .order in combination with json_attr. Best try so far:

    "... ORDER BY \"spina_pages\".\"json_attributes\"::json#>>'{de_content,2,datetime}' ASC"
    https://www.postgresql.org/docs/9.5/functions-json.html
  %>
  <% all_events = Spina::Resource.find_by(name: $spina_events)&.pages.live.joins(:translations).where(translations: {locale: locale}) %>
  <% sorted_events = all_events.sort_by { |e| e.content(:event_time) } %>
  <% recent_events = sorted_events.reverse.take(4) %>
  <% any_event_displayed = false %>

  <%= render 'nwdl/shared/resource/iterator', resources: recent_events, classes: "flex flex-wrap gap-4 justify-center overflow-hidden" do |event| %>
    <% any_event_displayed = true %>
    <%= render 'nwdl/shared/resource/resource_timeline', resource: event %>
  <% end %>

  <%# AFTER EVENT PRESENTER %>
  <% event_link_target = Spina::Page.find_by(name: $spina_events) %>
  <% if any_event_displayed && event_link_target&.materialized_path.present? %>
    <div class="flex flex-wrap justify-center mt-8">
      <p class="w-full py-4 text-center nwdl-high-contrast"><%= I18n.t('static.more_events') %></p>
      <%= link_to I18n.t('static.show_more'), event_link_target.materialized_path, class: "btn-nwdl" %>
    </div>
  <% end %>
</div>
