<%= render 'nwdl/shared/default_page' do %>
  <%# TEAM PRESENTER %>
  <div class="row g-5 mt-2 mb-5 justify-content-start">
    <%= render 'nwdl/shared/resource_iterator', resource_name: "team" do |resource| %>
      <%= render 'nwdl/shared/default_resource', resource: resource %>
    <% end %>
  </div>

  <div class="nwdl-rich-content-wrapper">
    <%= content.html :rich_content %>
  </div>
<% end %>

<%# NEWSLETTER %>
<%= render 'nwdl/shared/newsletter' %>
